/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/inter-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
    box-sizing: border-box;
  }



    .body{width: 100%; 
      height: 3870px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color:#636060;
    }


/* header logo nav start*/
    .header{
    color: #010201;
    width: 100%;
    height: 3.47%;
    background: #EDF2EC;}
    
    
      .header_logo{display: flex;
      margin-left: 0;top: 42px;
    }

      .header_wapper{
      padding: 42px 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;}
      
      .header_nav{margin-right: 0;}



      .header_list{
        margin-right: 0px;
        display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
    }

    .header_item{ 
      display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
      margin-right: 46px;}
    .header_item:last-child{margin-right: 0;}
     
    .header_link:hover, .header_link:focus, .header_link:active {opacity: .75;}
    /* header logo nav end*/
  

    .main{
    }


   /* intro info logo h1 start*/


    .section_intro{ 
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    background-color: #EDF2EC;
  }

   
  .intro_logo{
    margin-left: 6.34%;
    margin-top: 3.73%;
   }

   .intro_info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.7%;
    margin-left: 13.02%;
    margin-right: 0px;
    max-width: 549px;
    max-height: 340px;
    }
   .into_h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
  }
  .h1_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #499A18;
    }

    .intro_title{
      margin-top: 7.65%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      color: #636060;}
       
      .intro_learn_more{ 
        box-sizing: border-box;
        border: 2px solid #E06733;
        border-radius: 10px;
        padding: 14px 27px;
        margin-top: 3.64%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      /* intro info logo h1 end*/
